<template>
  <div id="meus-filmes">
    <h1>Meus Filmes</h1>
    <span v-if="filmes.length === 0">
      Você não possui nenhum filme salvo :(
    </span>
    <ul>
      <li class="container" v-for="filme in filmes" :key="filme.id">
        <span>{{filme.nome}}</span>
        <div class="botoes">
          <button>
            Ver detalhes
          </button>
          <button>
            Excluir
          </button>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      filmes: [],
    }
  },
  created() {
    const minhaLista = localStorage.getItem('myFilme');
    this.filmes = JSON.parse(minhaLista) || [];
  }
}
</script>

<style scoped>
  #meus-filmes {
     display: flex;
     flex-direction: column;
     width: 100%;
     justify-content: center;
     align-items: center;
  }

  ul {
    padding: 0;
  }
  
  ul li {
    padding: 0;
    list-style: none;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  button {
    margin-left: 10px;
  }

  span {
    font-size: 25px;
  }
</style>